<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<select id="buylist" resultType="OrderVO" parameterType="String">
		select * from order where buyer_id = #{buyer_id}
	</select>
	
</mapper>











